body{
    background-color: gray;
}

button {
	background-color: cadetblue;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 2vi;
	cursor: pointer;
}

main {
	max-width: 1000px;
	margin: auto;
}
    
.mensaje {
	display: none;
	position: fixed;
	left: 50%;
	z-index: 1000;
	transform: translateX(-50%);
	background: RGB(255,255,255,0.9);
	padding: 50px;
	border: 2px solid black;
}